.menu{
  position: relative;
  z-index: 15;
}
.menu-img{
  position: fixed;
  top: 25px;
  right: 25px;
  width: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 15;
}

i.menu-icon {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 25px;
  color: var(--white);
  transition: all 0.5s ease;
  cursor: pointer;
}
i.menu-icon:hover{
  font-size: 28px;
  color: var(--text-black);
}

.rotate{
  transform: rotate(360deg);
}

.right-menu{
  position: fixed;
  top: 0px;
  right: 0px;
  /* width: 40vw; */
  width: 0;
  height: 100vh;
  background-color: var(--bg-menu);
  transition: all 0.5s ease;
  z-index: 10;
}
.open-menu {
  width:40vw; 
  max-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  color: var(--white);
  text-decoration: none;
  white-space: nowrap;
  font-size: 4vw;
}
a:hover{
  color: var(--text-black);
  text-decoration: underline
}
@media (min-width: 768px) {
  a {
    font-size: 30.72px;
  }
}
ul {
  padding: 0;
}
li {
  margin: 2rem 0;
  list-style: none;
}
.right-menu .contents {
  top: 90px;
  position: absolute;
  z-index: 1;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}

.close{
  z-index: 1;
  position: fixed;
  top:0;
  width: 0;
  height: 0;
}
.close-menu {
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
